/*Login*/
.login-link .login-link-item {
    color: #0d6efd; /* Màu xanh Bootstrap */
    text-decoration: none; /* Bỏ gạch dưới */ 
    font-weight: 500;
}

    .login-link .login-link-item:hover {
        text-decoration: underline; /* Hiện gạch dưới khi hover */
        color: #0a58ca; /* Màu đậm hơn khi rê chuột */
    }
/*Login*/
