@{
    ViewData["Title"] = "Home Page";
    <h1>Xin chào</h1>
    <h2>Chào mừng bạn đến với trang web của chúng tôi</h2>
    <h3>Chào mừng bạn đến với trang web của chúng tôi</h3>
    <h4>Chào mừng bạn đến với trang web của chúng tôi</h4>
    <h4>Chào mừng bạn đến với trang web của chúng tôi</h4>
    <h4>Chào mừng bạn đến với trang web của chúng tôi</h4>
    <h4>Chào mừng bạn đến với trang web của chúng tôi</h4>
    <h5>Chào mừng bạn đến với trang web của chúng tôi</h5>
}

<div><h1>THANH NGU</h1></div>
<div class="text-center">
    <h1 class="display-4">Welcomeadadad</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
